@charset "utf-8";

/* 애니메이션 이름은 slide로 100% 일 때, X축의 위치가 왼쪽으로 4개의 slide-item의 총 합만큼 이동하도록 함 */

@keyframes slide {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-500px * 4));
    }
}


/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* .layout .left{border: 1px solid red; float: left; width: 10%; height: 100%; position: fixed; overflow: hidden;}
.content{border: 1px solid blue; height: 100%; position: relative;} 

.layout div{ display: table; float: left; border: 1px solid red; height: 100%; width: 100%; position: fixed;}
*/


/* 웹폰트 적용
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SDSamliphopangche_Outline';
}
*/


/* 다운받은 폰트 적용
 @font-face {
    font-family: 'nanum';
    src: url('/css/fonts/NanumBarunGothicBold.eot') format('truetype');
}

body {
    font-family: 'nanum';
}
*/

* {
    box-sizing: border-box;
}

.menu {
    background-color: aquamarine;
    display: block;
    position: fixed;
    width: 5%;
    height: 100%;
    border-right: solid rgb(255, 15, 15) 3px;
}

.board {
    padding: 0 0 0 5%;
    height: 100%;
    display: block;
}

.board .content {
    /* background-color: rgb(49, 14, 248); */
    width: 100%;
    height: 100%;
    /* padding-top: 50px; */
}

.board footer {
    height: 250px;
}

.board #fullpage footer .f1 {
    background-color: darkblue;
    float: left;
    width: 50%;
    height: 250px;
}

.board #fullpage footer .f2 {
    background-color: rgb(45, 197, 45);
    float: right;
    width: 50%;
    height: 250px;
}

.menu .logo img {
    width: 100%;
    height: 100px;
    padding: 5%;
    text-align: center;
}


/*
    position: relative (부모)
    position: absolute (자식)

    ex) 중앙정렬
    {relative}>{abso} {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
*/

.menu_s {
    position: relative;
    text-align: center;
    height: 100px;
    width: 100%;
}

.menu_s>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-top: solid rgb(255, 15, 15) 3px;
    font-size: 0.75em;
}


/* .menu_s>a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.menu_s .menu_s_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .board .nav {
    background-color: blueviolet;
    height: 50px;
    width: 100%;
    text-align: right;
    display: block;
    position: relative;
} */

.nav {
    background-color: blueviolet;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    clear: both;
    padding: 16px 12px 0px 0px;
}

.nav .nav_menu {
    float: right;
}

.nav .nav_menu li {
    display: inline-block;
}

.nav .nav_menu li a {
    border: solid black 2px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 3px 12px;
    margin-right: 10px;
    font-weight: bold;
}


/* .nav .select_btn {
    border: solid black 2px;
    border-radius: 20px;
    width: 80px;
    height: 25px;
    font-size: small;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    position: absolute;
} */

.content .content_sub {
    float: left;
    /* background-color: brown; */
    padding: 5% 0% 0% 5%;
}


/* .content .content_img img {
    position: absolute;
    top: 130px;
    left: 1584px;
} */

.content_sub_1 {
    color: #fff;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: black solid 1px;
    width: 219px;
}

.content_sub_1-2 {
    color: red;
}

.content_sub_2 {
    font-size: 52px;
    font-weight: bold;
    margin: 40px 0px;
}

.content_sub_3 {
    font-size: 16px;
    font-weight: bold;
    margin: 66px 0px;
    color: #969696;
}

.content_sub_btn {
    /* background-color: red;
    width: 172px;
    height: 55px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    position: relative; */
    position: relative;
    text-align: center;
    height: 100px;
    width: 100%;
}

.content_sub_btn>a {
    background-color: red;
    /* width: 172px;
    height: 55px; */
    border-radius: 30px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    display: block;
    padding: 24px 85px;
}

.content_img_1 {
    position: absolute;
    top: 91px;
    left: 966px;
}

.content_img_2 {
    position: absolute;
    top: 145px;
    left: 1354px;
}

.p {
    background-color: black;
    padding-top: 620px;
}


/* .content_sub .content_sub_1 {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    display: inline-block;
} */


/* .margin_auto {
    position: fixed;
    margin: auto;
} */

.slider {
    /* border: 2px solid #2d2d2d; */
    padding-top: 587px;
}

.slide-box {
    display: flex;
    /* calc() 아이템 개수의 2배만큼 지정해줌 */
    width: calc(500px * 8);
    animation: slide 40s linear infinite;
}

.slide-item {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border: 20px solid rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 24px;
    color: red;
    line-height: 100px;
    text-align: center;
}